.form-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-content {
    background: #F6F5F2;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
  }
  
  .section {
    margin-bottom: 10px;
  }

  .section h3{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
    word-wrap: break-word;
  }

  label{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .input-group {
    display: flex;
    justify-content: space-between;
    gap: 15px; 
    margin-bottom: 10px;
  }

  .input-column {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .input-column label {
    margin-bottom: 5px;
  }

  input, textarea, select, .time {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .small-input {
    margin-top: 10px;
    width: 30% !important;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px !important;
  }
  
  .radio-group {
    display: flex;
    margin-bottom: 10px;
  }

  .radio-group input
  {
    margin-bottom: 0;
    width: 30%;
    transform: scale(1.5);
  }

  .secondary input
  {
    margin-bottom: 0;
    width: 33%;
    transform: scale(1.5);
    margin-left: 3%;
  }

  .secondary label{
    width: 20% !important;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    width: 45%;
  }

  .music{
    width: 55%;
  }

  .security{
    width: 80%;
  }
  
  .date-time-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .date-time-group input,
  .date-time-group select {
    margin-right: 10px;
    margin-left: 10px;
  }

  .date{
    margin-left: 0 !important;
  }
  
  .warning-text {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .terms {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .terms p {
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 12px;
  }

  .terms input{
    width: 10%;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 20%;
  }
  
  button:disabled {
    background-color: #ccc;
  }

  @media (max-width: 768px) {
    .input-group {
      flex-direction: column; 
      gap: 0;
    }
  
    .radio-group,
    .secondary {
      flex-direction: column;
    }
  
    .small-input {
      width: 100%; 
    }
  
    .radio-group label,
    .secondary label {
      width: 100%; 
    }
  
    .radio-group input,
    .secondary input {
      width: auto;
      transform: scale(1.3); 
      margin-right: 10px;
    }

    button {
      width: 40%;
      font-size: 14px; 
      padding: 8px 16px; 
    }

    .date-time-group {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .date-time-group input,
    .date-time-group select {
      width: 100%; 
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 10px; 
    }
  }
  
  @media (max-width: 576px) {
    .form-container {
      padding: 10px; 
    }
  
    .form-title {
      font-size: 20px;
    }
  
    .radio-group input,
    .secondary input {
      transform: scale(1.2); 
    }
  
    .radio-group label,
    .secondary label {
      margin-bottom: 10px; 
    }
  
    .small-input {
      width: 100%;
    }

    button {
      width: 100%; 
      font-size: 12px; 
      padding: 6px 12px;
    }

    .date-time-group input,
    .date-time-group select {
      font-size: 14px; 
      padding: 8px; 
    }
  }

  .error-text {
    color: red; 
    font-size: 12px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    display: block;
    width: 90%;
  }

  .event-error-text {
    color: red;
    font-size: 12px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 2%;
  }

  .additionalHour{
    width: 40%;
    display: block;
  }
  